<h1>Edit todo</h1>


<% if @todo.errors.any? %>
	<h2>Following problems prevented the todo to save</h2>
	<ul>
	<% @todo.errors.full_messages.each do |msg| %>
	<li><%= msg %></li>
	<% end %>
	</ul>
<% end %>
<%= form_for  @todo do |f| %>
	<p>
		<%= f.label :name %> <br>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :discription %> <br>
		<%= f.text_area :discription %>
	</p>

	<p>
		<%= f.submit %> 
	</p>

<% end %>